{% extends 'partials/base.html.twig' %}

{% block content %}
    {% set todayUrl = page.url ~ '/year:' ~ "now"|date('Y') ~ '/month:' ~ "now"|date('m') %}
    {% set prevMonthUrl = page.url ~ '/year:' ~ calendar.prevMonth|date('Y') ~ '/month:' ~ calendar.prevMonth|date('m') %}
    {% set nextMonthUrl = page.url ~ '/year:' ~ calendar.nextMonth|date('Y') ~ '/month:' ~ calendar.nextMonth|date('m') %}

	<div class="calendar-content">{{ page.content }}</div>
	
    <div class="row">
    <div class="cal col-sm-8 col-12">
        
        
        <div class="cal-container-outer">
        <div class="cal-container-inner">
        <div class="cal-controls row justify-content-center no-gutters">
        

        <div class="col-7">
            <a href="{{ prevMonthUrl }}" data-url="{{ prevMonthUrl }}" class="cal-link cal-button">&lsaquo;</a>
            <span class="month-title">{{ calendar.selectedMonth|localizeddate('medium', 'none', 'cs','Europe/Prague', 'LLLL Y') }}</span>
            <a href="{{ nextMonthUrl }}" data-url="{{ nextMonthUrl }}" class="cal-link cal-button">&rsaquo;</a>
        </div>
        <div class="col-auto">
			 <a href="{{ todayUrl }}" data-url="{{ todayUrl}}" class="cal-link">
                <span class="cal-button cal-today"  data-date="{{"now"|date("U")}}"  data-events='{{calendar.events["now"|date("U")]|json_encode()}}'>dnes</span>
             </a>
			
        </div>
        </div>
        <div class="cal-header">
            <div class="cal-header-day">Po</div>
            <div class="cal-header-day">Út</div>
            <div class="cal-header-day">St</div>
            <div class="cal-header-day">Čt</div>
            <div class="cal-header-day">Pá</div>
            <div class="cal-header-day">So</div>
            <div class="cal-header-day">Ne</div>
        </div>
        <div class="cal-table">
        {% set currentDay = calendar.startDay %}
        {% for week in range(1, calendar.weekCount) %}
            
            
            <div class="cal-row-outer">
            <div class="cal-row-inner">
            {% for day in 1..7 %}
                
                <div 
                    {% if calendar.selectedMonth|date("m") == currentDay|date("m") %} 
                        class="cal-day"
                    {% else %}
                        class="cal-day diff-month"
                    {% endif %}
                    data-date="{{currentDay|date("U")}}" 
                    data-events='{{calendar.events[currentDay|date("U")]|json_encode()}}'
                    style="cursor:help"
                    {{dump(calendar.events[currentDay|date("U")]|json_encode())}}
                >
                             
                    <div class="cal-day-tag-outer">
                        <h2 class="cal-day-tag-inner {% if currentDay|date("dmY") == "now"|date("dmY") %} cal-today {% endif %}">
                            {{currentDay|date("j")}}
                        </h2>
                    </div>
                    {% for event in calendar.events[currentDay|date("U")] %}
                        <div class="event {{event.header.type ? event.header.type : "J" }}" data-groups="{% for g in event.header.taxonomy.skupina %}{{g}}{% endfor %}">
                        {% switch event.header.type %}
                        {% case 'Z' %}
                            závod
                        {% case 'T' %}
                            trénink
                        {% case 'M' %}
                            mapový tr.
                        {% case 'S' %}
                            soustředění
                        {% case 'BZL' %}
                            BZL
                        {% case 'BBP' %}
                            běžecký záv.
                        {% default %}
                            {{event.header.template}}
                        {% endswitch %}
                        </div>                        
                    {% endfor %}
                
                </div>
                {% set currentDay = currentDay|date_modify("+1 day") %}
            {% endfor %}
            </div>
            </div>
            

        {% endfor %}
        </div>
        </div>
        </div>
        
        </div>
        <div class="col-sm-4 col-12">

		<div id="cal-events-outer">
		  <div id="cal-events-inner">
				<h2 id="cal-events-title"></h2>
				<div id="cal-events-content"></div>
			</div>
		</div>
        <hr>
        <h5>Filtr akcí dle skupiny:</h5>
        
                <input type="checkbox" value="all" id="filter-all" checked />
                <label for="filter-all">Vše</label><br>
                <input class="filter" type="checkbox" value="zabicky" id="filter-zabicky" />
                <label for="filter-zabicky">Žabičky</label>
                <input class="filter" type="checkbox" value="pulci1" id="filter-pulci1" />
                <label for="filter-pulci1">Pulci 1</label>
                <input class="filter" type="checkbox" value="pulci2" id="filter-pulci2" />
                <label for="filter-pulci2">Pulci 2</label>
                <input class="filter" type="checkbox" value="zaci1" id="filter-zaci1" />
                <label for="filter-zaci1">Žáci 1</label>
                <input class="filter" type="checkbox" value="zaci2" id="filter-zaci2" />
                <label for="filter-zaci2">Žáci 2</label>
                <input class="filter" type="checkbox" value="dorost" id="filter-dorost" />
                <label for="filter-dorost">Dorost+</label>

    <br><br>        
    </div>
    </div>
		
<script>
window.addEventListener('DOMContentLoaded', () => {


    var date_opt = { day: "numeric", month: "long", year: "numeric"};
    

    var calbox = document.getElementById("cal-events-inner"),
        title = document.getElementById("cal-events-title"),
        content = document.getElementById("cal-events-content"),
        filter_all = document.getElementById('filter-all');
        

    function checkEmptyContent(){
        if (content.innerHTML == "") {
           content.innerHTML = "žádné akce";
        }
    }

    function showEvents(e){
        if(e.type == "click") {
            e = e.currentTarget;
        }
        content.innerHTML = "";
        date = new Date(e.getAttribute('data-date')* 1000);
        events = JSON.parse(e.getAttribute('data-events'));
        
        title.innerHTML = date.toLocaleDateString('cs-CZ', date_opt);
        if (events == null) {
            checkEmptyContent();
            return
        }
        var ul = document.createElement('ul');
        $(events).each( function() {  
            var li = document.createElement('li');
            var a = document.createElement('a');
            a.innerHTML = this.header.title + '<br><span class="cal-list-groups">' + (this.header.taxonomy ? Object.values(this.header.taxonomy.skupina).join(', ') : "") + '</span>';
            a.href = this.header.url;
            a.setAttribute('target', '_blank');
            li.classList.add(this.header.type ? this.header.type : "J");
            li.appendChild(a);  
            li.classList.add("event");
            li.setAttribute('data-groups', this.header.taxonomy ? Object.values(this.header.taxonomy.skupina).join('') : "");
            if (!filter_all.checked) {
                li.style.display = "none";
                $('.filter').each(function(){
                    if (this.checked && li.getAttribute('data-groups').indexOf(this.defaultValue) >= 0) {
                        li.style.display = "list-item";
                    }
                })
            }
            ul.appendChild(li);     
                  
        });
        content.appendChild(ul);
    }

    $('.cal-day').click(showEvents);

    function fixLinks(){
        var urlExt = "/groups:"
        $(".filter:checked").each(function(){
            urlExt += this.value + ",";
        })
        urlExt = urlExt == "/groups:" ? "" : urlExt.slice(0, -1);
        
        
        $(".cal-link").each(function(){
            this.href = this.getAttribute("data-url") + urlExt;
        })
    }

    $('.filter').on('change', function(){
        filter_all.checked = false;
        filter();
    })

    $(filter_all).on('change', function(){
        $('.filter').prop("checked", false);
        fixLinks();
        if (filter_all.checked) {
            $('.event').show();
            return;
        }
        $('.event').hide();
    })

    function filter(){
        if (filter_all.checked) {
            $('.event').show();
            return;
        }
        $('.event').hide();
        $(".filter:checked").each(function(){
            var checked = this.value;
            $('.event').each(function(){
                if (this.dataset.groups.indexOf(checked) >= 0) {
                    $(this).show();
                }
            })
        });  
        fixLinks()
    }

    showEvents($('.cal-today')[0]);

    var groups = '{{ grav.uri.param("groups") }}';
    if (groups) {
        $('.filter').prop("checked", false);
        filter_all.checked = false;

        groups.split(",").forEach(g => {
            $(".filter").each(function(){
                if(this.value == g) {
                    this.checked = true;
                }
            });  
        })
        filter()
    };
});
</script>
{% endblock %}