{% extends 'partials/base.html.twig' %}

{% block content %}
<section id="calendar">

	<div class="calendar-content">{{ page.content }}</div>
	{% set todayUrl = page.url ~ '/year:' ~ "now"|date('Y') ~ '/month:' ~ "now"|date('m') %}
    {% set prevMonthUrl = page.url ~ '/year:' ~ calendar.prevMonth|date('Y') ~ '/month:' ~ calendar.prevMonth|date('m') %}
    {% set nextMonthUrl = page.url ~ '/year:' ~ calendar.nextMonth|date('Y') ~ '/month:' ~ calendar.nextMonth|date('m') %}


    <div class="row calendar-controls justify-content-md-center">
        <div class="col-xs-12 col-md">
            <a href="{{ prevMonthUrl }}" class="calendar-button">&lsaquo;</a>
            <span class="month-title">{{ calendar.selectedMonth|localizeddate('medium', 'none', 'cs','Europe/Prague', 'LLLL Y') }}</span>
            <a href="{{ nextMonthUrl }}" class="calendar-button">&rsaquo;</a>
        </div>
        <div class="col-auto">
			 <a href="{{ todayUrl }}">
                <span class="key">dnes</span>
                <span class="calendar-day-tag calendar-today">{{ "now"|date('j') }}</span>
             </a>
			
        </div>
    </div>
    <div class="row calendar-week-header">
		<div class="col-xs-1 calendar-cell d-none d-sm-block">{{ 'GRAV.DAYS_OF_THE_WEEK'|ta(0) }}</div>
		<div class="col-xs-1 calendar-cell d-none d-sm-block">{{ 'GRAV.DAYS_OF_THE_WEEK'|ta(1) }}</div>
		<div class="col-xs-1 calendar-cell d-none d-sm-block">{{ 'GRAV.DAYS_OF_THE_WEEK'|ta(2) }}</div>
		<div class="col-xs-1 calendar-cell d-none d-sm-block">{{ 'GRAV.DAYS_OF_THE_WEEK'|ta(3) }}</div>
		<div class="col-xs-1 calendar-cell d-none d-sm-block">{{ 'GRAV.DAYS_OF_THE_WEEK'|ta(4) }}</div>
		<div class="col-xs-1 calendar-cell d-none d-sm-block">{{ 'GRAV.DAYS_OF_THE_WEEK'|ta(5) }}</div>
		<div class="col-xs-1 calendar-cell d-none d-sm-block">{{ 'GRAV.DAYS_OF_THE_WEEK'|ta(6) }}</div>
        <div class="col-xs-1 calendar-cell d-sm-none d-block">Po</div>
		<div class="col-xs-1 calendar-cell d-sm-none d-block">Út</div>
		<div class="col-xs-1 calendar-cell d-sm-none d-block">St</div>
		<div class="col-xs-1 calendar-cell d-sm-none d-block">Čt</div>
		<div class="col-xs-1 calendar-cell d-sm-none d-block">Pá</div>
		<div class="col-xs-1 calendar-cell d-sm-none d-block">So</div>
		<div class="col-xs-1 calendar-cell d-sm-none d-block">Ne</div>
	</div>
    {% set currentDay = calendar.startDay %}
    {% for week in range(1, calendar.weekCount) %}
        
        <div class="row">
        {% for day in 1..7 %}
            <div class="col-xs-1 calendar-cell">
                <div class="calendar-day {% if calendar.selectedMonth|date("m") != currentDay|date("m") %} diff-month {% endif %}">
                    <div class="grid-day calendar-day-tag{% if currentDay|date("dmY") == "now"|date("dmY") %} calendar-today {% endif %}" {% if calendar.events[currentDay|date("U")] != null %} style="cursor:pointer" {% endif %}>{{currentDay|date("j")}}</div>
                    {% if calendar.events[currentDay|date("U")] != null %}
                    <div class="calendar-list">
                        <ul data-date="{{currentDay|localizeddate('medium', 'none', 'cs','Europe/Prague', 'd. MMMM')}}">
                            {% for event in calendar.events[currentDay|date("U")] %}
                                {{dump(event)}}
                                <li class="event" title="{{ event.header.title }}" data-name="{{event.header.title}}" data-href="{{event.header.url}}">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i><span class="event-title">
                                        <a href="{{ event.header.url }}" class="p-name u-url">
                                            <span>{{ event.header.title }}</span>
                                        </a>
                                    </span>
                                </li>                         
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% set currentDay = currentDay|date_modify("+1 day") %}
        {% endfor %}
        </div>

    {% endfor %}



		<div id="calendar-modal" style="display:none">
		  <div id="calendar-modal-inner">
				<div id="calendar-modal-close"><i class="fa fa-times" aria-hidden="true"></i></div>
				<h2 id="calendar-modal-title"></h2>
				<div id="calendar-modal-content"></div>
			</div>
		</div>

</section><!--.calendar-container-->
<script>
    var modal = document.getElementById("calendar-modal"),
        modal_inner = document.getElementById("calendar-modal-inner"),
        modal_title = document.getElementById("calendar-modal-title"),
        modal_content = document.getElementById("calendar-modal-content"),
        modal_close = document.getElementById("calendar-modal-close");

    $('.calendar-day-tag').click( (e) => {
        if (!e.target.nextElementSibling) return;

        var list = e.target.nextElementSibling.firstElementChild; 
        
        modal_title.innerHTML = list.getAttribute('data-date');
        $(list).children().each( function() {            
            var a = document.createElement('a');
            a.innerHTML = this.getAttribute("data-name");
            a.href = this.getAttribute("data-href");

            var div = document.createElement('div');
            div.appendChild(a);
            modal_content.appendChild(div);
        });
        modal_inner.style.marginTop = window.pageYOffset + "px";
        bodyScrollLock.disableBodyScroll(modal);
        modal.style.display = "block";
    })
    
    function close() {
        modal_content.innerHTML = "";
        bodyScrollLock.enableBodyScroll(modal);
        modal.style.display = "none";
    }
    window.addEventListener('click', function(e){
        if (e.target == modal) {
          close();
        }
    })

    modal_close.addEventListener('click', close);
</script>

{% endblock %}