{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include 'partials/metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://images/frog.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <script defer src="https://analytics.oresults.eu/script.js" data-website-id="6524919e-8e40-46d1-b665-c00516f61b98"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TLPM9D5');</script>
    <!-- End Google Tag Manager -->
    {% block stylesheets %}
        {% do assets.addCss('theme://css/main.css', 101) %}
        {% do assets.addCss('theme://css/bootstrap-grid.min.css', 99) %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 98) %}
	    {% do assets.addCss('theme://css/datepicker.css', 90) %}
	    {% do assets.addCss('theme://css/simplemde.min.css', 10) %}
	    {% do assets.addCss('theme://css/dropzone.css', 10) %}
	    {% do assets.addCss('theme://css/notyf.min.css', 10) %}
        {% do assets.addCss('theme://css/custom.css', 1) %}

    {% endblock %}
    {{ assets.css()|raw }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 1000) %}
	    {% do assets.addJs('theme://js/skel.min.js', 100) %}
        {% do assets.addJs('theme://js/main.js', 99) %}
        {% do assets.addJs('theme://js/slideout.min.js', 98) %}
        {% do assets.addJs('theme://js/util.js', 97) %}
        {% do assets.addJs('theme://js/list.min.js', {'group':'defer'}) %}
        {% do assets.addJs('theme://js/datepicker.js', {'group':'defer'}) %}
        {% do assets.addJs('theme://js/turndown.js', {'group':'defer'}) %}
        {% do assets.addJs('theme://js/dropzone.js', {'group':'defer'}) %}   
	    {% do assets.addJs('theme://js/simplemde.min.js', {'group':'defer'}) %}
	    {% do assets.addJs('theme://js/multiselect.js', {'group':'defer'}) %}
        {% do assets.addJs('theme://js/notyf.min.js', {'group':'defer'}) %}
    {% endblock %}
    {{ assets.js()|raw }}
    {{ assets.js('defer',{'loading':'defer'})|raw }}

{% endblock head%}
</head>
<body class="{{ page.header.body_classes }}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLPM9D5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="wrapper">

    {% block sidebar %}
        {%  include 'partials/sidebar.html.twig' %}
    {% endblock %}


    <div id="main">
        <div class="dim"></div>
        <a id="toggle"></a>
        {% block  inner %}
        <div class="inner">
        
            {% block header %}
            <header id="header">
		<h1>{{ page.title }}</h1>
		        <!-- backup
                <a class="logo" href="{{ base_url == '' ? '/' : base_url }}"><strong>{{ config.site.title }}</strong> {{theme_config.themeSlogan}}</a>
                {% include 'partials/socialIcons.html.twig' %} -->
            </header><!-- End #header -->
            {% endblock %}

            {% block body %}
            <section>
                <header class="main">              
                  <!--  <h1>{{ page.title }}</h1> -->
                </header>
                {% if page.header.primaryImage %}
                    {% set primaryImage = ((page.header.primaryImage)|first) %}

                    <span class="image main">{{ page.media[primaryImage.name].html() }}</span>
                {% endif %}
                {% block content %}{% endblock %}
            </section><!-- End section -->
            {% endblock %}

        </div> <!-- End .inner -->
        {% endblock %}
    </div><!-- End #main -->

</div> <!--End #wrapper -->
{% block bottom %}
    {{ assets.js('bottom') }}


<!-- Appzi - feedback button - https://www.appzi.com -->
<script async src="https://w.appzi.io/w.js?token=m8wXI"></script>
<!-- / Appzi -->
{% endblock %}

</body>
</html>
