{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include 'partials/metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://images/frog.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    {% block stylesheets %}
	{% do assets.addCss('theme://css/datepicker.css', 200) %}
        {% do assets.addCss('theme://css/pure-base-min.css', 101) %}
	{% do assets.addCss('theme://css/pure-grids-min.css', 100) %}
        {% do assets.addCss('theme://css/pure-grids-responsive-min.css', 97) %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/main.css', 200) %}
        {% do assets.addCss('theme://css/custom.css', 1) %}
	{% do assets.addCss('theme://css/simplemde.min.css', 96) %}
	{% do assets.addCss('theme://css/dropzone.css', 81) %}

    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 1000) %}
	{% do assets.addJs('theme://js/skel.min.js', 100) %}
        {% do assets.addJs('theme://js/jquery.touchSwipe.min.js', 98) %}
        {% do assets.addJs('theme://js/util.js', 99) %}
        {% do assets.addJs('theme://js/main.js', 97) %}
        {% do assets.addJs('theme://js/turndown.js', {'group':'defer'}) %}
        {% do assets.addJs('theme://js/datepicker.js', {'group':'defer'}) %}
        {% do assets.addJs('theme://js/list.min.js', {'group':'defer'}) %}
        {% do assets.addJs('theme://js/dropzone.js', {'group':'defer'}) %}   
	{% do assets.addJs('theme://js/simplemde.min.js', {'group':'defer'}) %}
    {% endblock %}
    {{ assets.js() }}
    {{ assets.js('defer',{'loading':'defer'}) }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

<div id="wrapper">
    <div id="main">
        <div class="swipe-area"></div>
        {% block  inner %}
        <div class="inner">
            {% block header %}
            <header id="header">
		<h1>{{ page.title }}</h1>
		        <!-- backup
                <a class="logo" href="{{ base_url == '' ? '/' : base_url }}"><strong>{{ config.site.title }}</strong> {{theme_config.themeSlogan}}</a>
                {% include 'partials/socialIcons.html.twig' %} -->
            </header><!-- End #header -->
            {% endblock %}

            {% block body %}
            <section>
                <header class="main">
                  <!--  <h1>{{ page.title }}</h1> -->
                </header>
                {% if page.header.primaryImage %}
                    {% set primaryImage = ((page.header.primaryImage)|first) %}

                    <span class="image main">{{ page.media[primaryImage.name].html() }}</span>
                {% endif %}
                {% block content %}{% endblock %}
            </section><!-- End section -->
            {% endblock %}

        </div> <!-- End .inner -->
        {% endblock %}
    </div><!-- End #main -->

{% block sidebar %}
    {%  include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block topbar %}
    <div id="topbar">
        <a href="/">
            <span class="topbar--title">SK Žabovřesky Brno</span>
        </a>
        <span class="topbar--links">
            <a href="#">Kdo jsme?</a>
            <a href="https://zacitorientak.cz/brno/co-to-je/190" target="_blank">Co je to orientační běh?</a>
            <a href="/arealy">Pevné kontroly</a>
            <div style="width: 0px;height: 34px; display: inline; border: solid black 1px"></div>
            <a href="#">Závody</a>
            <a href="/sponsors">Sponzoři</a>
            <a href="/kontakty">Kontakty</a>
        </span>
    </div>    
{% endblock %}


</div> <!--End #wrapper -->
{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
