
{% macro nav_loop(page) %}
    {% for p in page.children.visible %}
        {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
        {% if p.children.visible.count > 0 %}
            <li>
                {% if grav.theme.config['dropdown']['enabled'] %}
                  <a href="" class="opener {{ active_page }}">
                {% else %}
                  <a href="{{ p.url }}" class="{{ active_page }}">
                {% endif %}
                    {{ p.menu }}
                </a>
                <ul>
                    {{ _self.nav_loop(p) }}
                </ul>
            </li>
        {% else %}
            <li>
                <a href="{{ p.url }}" class="{{ active_page }}">
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}
        {% if loop.index == 5 or loop.index == 11 %}<hr>{% endif %}
    {% endfor %}
{% endmacro %}

<ul {{ tree ? 'class="tree"' : '' }}>
    {{ _self.nav_loop(pages) }}
    <li>
        <a href="https://members.eob.cz/zbm" target="_blank">Přihláškový systém&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
    </li>
</ul>

