{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<ul class="icons">
    {% if theme_config.social.twitter %}<li><a href="{{theme_config.social.twitter}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>{% endif %}
    {% if theme_config.social.facebook %}<li><a href="{{theme_config.social.facebook}}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>{% endif %}
    {% if theme_config.social.snap %}<li><a href="{{theme_config.social.snap}}" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>{% endif %}
    {% if theme_config.social.instagram %}<li><a href="{{theme_config.social.instagram}}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>{% endif %}
    {% if theme_config.social.medium %}<li><a href="{{theme_config.social.medium}}" class="icon fa-medium"><span class="label">Medium</span></a></li>{% endif %}
</ul>