{% extends 'partials/base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% do assets.addJs('https://commento.zabiny.club/js/commento.js', {'group':'defer'}) %}
{% endblock %}

{% block header %}
  <header id="header">
		<h2>
      {{ page.header.title }}
      &nbsp; &nbsp; 
      {{page.header.date|localizeddate('medium', 'none', 'cs','Europe/Prague', 'd. M. Y')|upper }}
    </h2>
  </header><!-- End #header -->
{% endblock %}


{% block body %}
  <section>
        
  {% block content %}
              
    {% if page.header.pictures|length > 0 %}
    <div class="row newsPictures">
        {% for img in page.header.pictures %}
          {# small screens shows double image size #}
          {% set img_mobile = img.ratio %}
          {% set img_normal = img.ratio %}
          {% if img_normal == 3 %}
            {% set img_normal = 2 %}
          {% else %}
            {% set img_normal = img.ratio // 2 %}
          {% endif %}

          <div class="newsIMG col-md-{{img_normal}} col-{{img_mobile}}">
            <a href="{{page.url}}/img/{{img.name}}" target="_blank" title="Zobrazit originální obrázek">
              <picture>
                {# časem WebP #}
                <img src="{{page.url}}/img/{{img.name}}_preview.jpg" alt="Zde by měl být obrázek">
              </picture>
            </a>
          </div>
        {% endfor %}
    </div>
    {% endif %}

	  {{ page.content }}
    <i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;{{page.header.user}}
    <hr>
    <div id="commento"></div>




	{% endblock %}
  </section><!-- End section -->
{% endblock %}
            

