{% extends 'partials/base.html.twig' %}




{% block body %}
         <section>
             <header class="main">
                 <h1>{{ page.title }}</h1>
             </header>
             {% if page.header.primaryImage %}
                 {% set primaryImage = ((page.header.primaryImage)|first) %}
                 <span class="image main">{{ page.media[primaryImage.name].html() }}</span>
             {% endif %}
     	{% block content %}
		      <table>
            <tr><td>Datum</td><td>{{page.header.event.start|localizeddate('medium', 'none', 'cs','Europe/Prague', 'd. MMMM')}}</td></tr>
            <tr><td>Místo</td><td>{{page.header.location}}</td></tr>
            <tr><td>Sraz</td><td>{{page.header.event.meetingpoint ~ ' '~ page.header.event.start|localizeddate('none', 'medium', 'cs','Europe/Prague', 'H:mm')}}</td></tr>
          


            
          </table>







	{{ page.content }}




	   {% endblock %}
            </section><!-- End section -->
{% endblock %}
            

